<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66616636005-2mkrh9lktko0igk1ovpos1gfgdo6eh7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66616636005-2mkrh9lktko0igk1ovpos1gfgdo6eh7n</string>
	<key>API_KEY</key>
	<string>AIzaSyAHeJa9hzjF_8J08Ljyu1ir7KGNFuCwSjM</string>
	<key>GCM_SENDER_ID</key>
	<string>66616636005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zimmad.istnagram</string>
	<key>PROJECT_ID</key>
	<string>isntagram-f9ae8</string>
	<key>STORAGE_BUCKET</key>
	<string>isntagram-f9ae8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66616636005:ios:f966eafe872918c2278c8c</string>
</dict>
</plist>